<div class="row">
    <div class="col-md-3" *ngFor="let item of cards">
        <div class="card nborder">
            <div class="card-body p-2 bxs">
                <div class="title">{{item?.title}}</div>
                <div class="detail mt-2">
                    <i [class]="item?.icon" [style]="{'color': (lservice?.getbColor()|async)}"></i>
                    <span>{{item?.mount}}</span>
                </div>
                <div class="foot mt-2">
                    <span [style]="{'color': (lservice?.getbColor()|async)}">{{item?.detail}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card nborder">
            <div class="card-body p-2 bxs">
                <div class="row">
                    <div class="col-md-12" *ngFor="let item of lists">
                        <div class="item">
                            <img class="ui-avatar" [src]="item?.avatar" alt="">
                            <div class="content">
                                <a class="header" [style]="{'color': (lservice?.getbColor()|async)}">{{item?.name}}</a>
                                <div class="description">{{item?.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card nborder">
            <div class="card-body p-2 bxs">
                <div class="row">
                    <div class="flex-shrink-0 col-md-12 mb-md-0 ">
                            <div class="discussion-box ml-0 pl-0 ml-md-6 pl-md-3">
                                    <div class="discussion-box_tline">
                                          <div class="avatar_box_d">
                                              <img src="" alt="">
                                          </div>
                                          <div class="content-body">
                                                <div class="comment-d">
                                                  <div class="comment-d_header">

                                                  </div>
                                                  <div class="comment-d_body">
                                                      <span></span>
                                                  </div>
                                                </div>
                                          </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
