.bxs {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.nborder {
  border: 0px !important;
}

.title {
  font-weight: bold;
  font-size: 15px;
  color: #969292;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #969292;
    font-size: 20px;
    font-weight: bold;
  }
}

.foot {
  float: right;
  span {
    font-size: 12px;
    font-weight: 600;
  }
}

.item {
  display: flex;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  padding: 0.21428571em 0;
  line-height: 1.14285714em;
}

.content {
  display: inline-block;
  width: auto;
  padding: 0 0 0 0.5em;
  vertical-align: top;
  line-height: 1.14285714em;
  color: rgba(0, 0, 0, 0.87);

  a.header {
    font-size: 13px;
    font-weight: 700;
  }

  .description {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
  }
}

.item:not(:last-child) {
  padding-bottom: 0.42857143em;
}

.item:not(:first-child) {
  padding-top: 0.42857143em;
}

.item:last-child {
  padding-bottom: 0%;
}

.ui-avatar {
  border-style: none;
  display: inline-block;
  background-color: transparent;
  margin: 0;
  vertical-align: top;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

.discussion-box {
  &_tline {
    position: relative;
    display: flex;
    padding: 16px 0;
    margin-left: 16px;
    padding-top: 0%;

    .avatar_box_d {
      position: absolute;
      left: -72px;
      z-index: 1;

      img {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50% !important;
        height: 30px;
        width: 30px;
      }
    }

    .content-body {
      min-width: 0;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      color: var(--color-timeline-text);
      flex: auto;

      .comment-d {
        position: relative;
        color: var(--color-text-primary);
        background-color: var(--color-bg-primary);
        border: 1px solid var(--color-border-tertiary);
        border-radius: 6px;
        border-color: var(--color-border-primary);

        &_header {
          display: flex;
          align-items: center;
          padding-right: 16px;
          padding-left: 16px;
          color: var(--color-text-secondary);
          flex-direction: row-reverse;
          background-color: var(--color-bg-tertiary);
          border-bottom: 1px solid var(--color-border-tertiary);
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;

          .actions {
            float: right;
            margin-left: 8px;

            details {
              .drop {
                margin-top: -4px !important;
                margin-right: -4px !important;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 100;
                width: 160px;
                padding-top: 4px;
                padding-bottom: 4px;
                margin-top: 2px;
                list-style: none;
                background-color: var(--color-bg-overlay);
                background-clip: padding-box;
                border: 1px solid var(--color-border-overlay);
                border-radius: 6px;
                box-shadow: var(--color-dropdown-shadow);

                &_h{
                  font-size: 11px;
                }

                &_divider {
                  display: block;
                  height: 0;
                  margin: 8px 0;
                  border-top: 1px solid var(--color-border-overlay);
                }

                &_b {
                    display: flex;
                    flex-wrap: wrap!important;
                }
              }
              .drop::before {
                position: absolute;
                display: inline-block;
                content: "";
              }
            }
          }
        }

        &_body {
          width: 100%;
          padding: 15px;
          overflow: visible;
          font-size: 14px;

          span {
            font-size: 14px;
          }
        }
      }

      .comment-d:before {
        position: absolute;
        top: 11px;
        right: 100%;
        left: -16px;
        display: block;
        width: 0;
        height: 0;
        pointer-events: none;
        content: " ";
        border-color: transparent;
        border-style: solid solid outset;
      }
    }
  }

  &_tline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: var(--color-border-secondary);
  }
}
