.bxs {
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}

.nborder {
  border: 0px !important;
}


.title {
  font-weight: bold;
  font-size: 15px;
  color: #969292;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #969292;
    font-size: 15px;
    font-weight: bold;
  }
}
