.bxs {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.hc {
  height: 305px;
  width: 327px;
}

.nborder {
  border: 0px !important;
}

.title {
  font-weight: bold;
  font-size: 15px;
  color: #969292;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #969292;
    font-size: 20px;
    font-weight: bold;
  }
}

.foot {
  float: right;
  span {
    font-size: 12px;
    font-weight: 600;
  }
}

.item {
  position: relative;
  display: flex;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  padding: 0.21428571em 0;
  line-height: 1.14285714em;
}

.p-tiem > .item:not(:last-child):before {
  position: absolute;
  content: '';
  width: 3px;
  top: 50%;
  bottom: -30%;
  left: 10%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);

}

.content {
  display: inline-block;
  width: auto;
  padding: 0 0 0 0.5em;
  vertical-align: top;
  line-height: 1.14285714em;
  color: rgba(0, 0, 0, 0.87);

  a.header {
    font-size: 13px;
    font-weight: 700;
  }

  .description {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
  }
}

.item:not(:last-child) {
  padding-bottom: 0.42857143em;
}

.item:not(:first-child) {
  padding-top: 0.42857143em;
}

.item:last-child {
  padding-bottom: 0%;
}

.ui-avatar {
  border-style: none;
  display: inline-block;
  background-color: transparent;
  margin: 0;
  vertical-align: top;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

.discussion-box, .discussion-form {
  position: relative;
  width: 100%;
  display: flex;

  .card {
    width: 90%;
    margin-left: 20px;
    .card-header {
      display: flex;
      background-color: #fff!important;
      justify-content: space-between;
      align-items: center;
      .nav-link {
        color: #969292;
        padding: .1rem 1rem!important;
      }

      .title {
        width: 47%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          font-size: 15px;
          font-weight: bold;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        button {
          background-color: transparent;
          border: none;
          outline: none;
          i {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .card-body {
      .comment-u {
        text-align: justify;
        text-justify: inter-word;
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
      }

      .form {
          textarea {
            width: 100%;
            outline: none;
            border: none;
            color: #969292;
            line-height: 1;
            font-size: 12px;
          }

          textarea::placeholder {
            font-size: 12px;
          }

          button {
            float: right;
            border: none;
            outline: none;
            color: #fff;
            border-radius: .25rem;
            cursor: pointer;
          }
      }
    }
  }

  .card::before,
  .card::after {
    position: absolute;
    display: block;
    content: "";
    top:10%;
    transform: rotate(90deg);
    border: 5px solid transparent; /*adjust size*/
  }

  .card::before {
    border-top-color:rgba(0, 0, 0, 0.125);
    left: -11px;
  }
  .card::after {
    left: -9px;
    border-top-color:#fff; /*Match background colour*/
  }
}

.discussion-box::before {
  position: absolute;
  top: 50%;
  bottom: -30%;
  left: 10%;
  display: block;
  width: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.125);
}


.conty {
  position: relative;
  overflow: hidden;
  height: 186px;
}
