<div class="row">
    <div class="col-md-3" *ngFor="let item of cards">
            <div class="card nborder">
                <div class="card-body p-2 bxs">
                    <div class="title">{{item?.title}}</div>
                    <div class="detail mt-2">
                        <i [class]="item?.icon" [style]="{'color': (lservice?.getbColor()|async)}"></i>
                        <span>{{item?.mount}}</span>
                    </div>
                    <div class="foot mt-2">
                        <span [style]="{'color': (lservice?.getbColor()|async)}">{{item?.detail}}</span>
                    </div>
                </div>
            </div>
    </div>
</div>
