.bxs {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.nborder {
  border: 0px !important;
}

.title {
  font-weight: bold;
  font-size: 15px;
  color: #969292;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #969292;
    font-size: 20px;
    font-weight: bold;
  }
}

.foot {
  float: right;
  span {
    font-size: 12px;
    font-weight: 600;
  }
}

.item {
  display: flex;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  padding: 0.21428571em 0;
  line-height: 1.14285714em;
}

.content {
  display: inline-block;
  width: auto;
  padding: 0 0 0 0.5em;
  vertical-align: top;
  line-height: 1.14285714em;
  color: rgba(0, 0, 0, 0.87);

  a.header {
    font-size: 13px;
    font-weight: 700;
  }

  .description {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
  }
}

.item:not(:last-child) {
  padding-bottom: 0.42857143em;
}

.item:not(:first-child) {
  padding-top: 0.42857143em;
}

.item:last-child {
  padding-bottom: 0%;
}

.ui-avatar {
  border-style: none;
  display: inline-block;
  background-color: transparent;
  margin: 0;
  vertical-align: top;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

.discussion-box {
  position: relative;
  width: 100%;
  display: flex;

  .card {
    width: 80%;
    margin-left: 20px;
    .card-header {
      background-color: #fff!important;
    }
  }

  .card::before,
  .card::after {
    position: absolute;
    display: block;
    content: "";
    top:10%;
    transform: rotate(90deg);
    border: 5px solid transparent; /*adjust size*/
  }

  .card::before {
    border-top-color:rgba(0, 0, 0, 0.125);
    left: -11px;
  }
  .card::after {
    left: -9px;
    border-top-color:#fff; /*Match background colour*/
  }
}

.discussion-box::before {
  position: absolute;
  top: 50%;
  bottom: -50%;
  left: 10%;
  display: block;
  width: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.125);
}
