<div class="header-bar">
  <div class="__normal_size" [ngStyle]="(lservice.getState()| async) === true ? {'padding-left': '80px', 'transition':'all .2s ease-in-out'} : {'padding-left': '280px','transition':'all .2s ease-in-out'}">
    <div class="left">
        <div class="__menu">
              <div class="__item">
               <a (click)="lservice?.setState()"> <i class="fal fa-bars"></i></a>
              </div>
              <div class="__item">
                <a (click)="lservice?.osbox()"><i class="fas fa-fill-drip" data-toggle="tooltip" data-placement="bottom" title="colors"></i></a>
              </div>
              <div class="__item">
                <a > <i class="fal fa-cogs" data-toggle="tooltip" data-placement="bottom" title="settings"></i></a>
              </div>
              <div class="__item">
                <a > <i class="fal fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="helps"></i></a>
              </div>
        </div>
    </div>

    <div class="middle">
          <input type="text" placeholder="Search">
          <i class="fal fa-search"></i>
    </div>


    <div class="right">
      <div class="__menu">
            <div class="__item">
                <a (click)="lservice?.ocBox()"> <i class="fal fa-comments" data-toggle="tooltip" data-placement="bottom" title="chats"></i>
                  <span class="badge">3</span></a>
              </div>
              <div class="__item">
                <a > <i class="fal fa-bell" data-toggle="tooltip" data-placement="bottom" title="notify"></i>
                  <span class="badge">3</span></a>
              </div>
      </div>
          <div class="user_ID">
            <a (click)="auth()" title="Authentication"><img class="square" src="../../../assets/img/AF2.png" alt=""></a>
          </div>
          <div class="__menu">
              <div class="__item">
                  <a ><i class="fal fa-power-off" data-toggle="tooltip" data-placement="bottom" title="log out"></i></a>
              </div>
          </div>
    </div>
  </div>
</div>
