<div class="header-bar">
  <div class="__normal_size">
    <div class="left">
        <div class="__menu">
              <div class="__item">
                <i class="fal fa-database" data-toggle="tooltip" data-placement="bottom" title="statistics"></i>
              </div>
              <div class="__item">
                <i class="fal fa-file-alt" data-toggle="tooltip" data-placement="bottom" title="rapports"></i>
              </div>
              <div class="__item">
                <i class="fal fa-cogs" data-toggle="tooltip" data-placement="bottom" title="settings"></i>
              </div>
              <div class="__item">
                <i class="fal fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="helps"></i>
              </div>
              <div class="__item">
                <i class="fal fa-power-off" data-toggle="tooltip" data-placement="bottom" title="log out"></i>
              </div>
        </div>
    </div>
    <div class="right">
          <div class="user_ID">
                <img class="square" src="../../../assets/img/AF2.png" alt="">
          </div>
    </div>
  </div>
</div>
