<app-header></app-header>
<app-sidebar></app-sidebar>


<!-- Main outlet -->

<div class="__main_outlet" [ngStyle]="(lservice?.layoutState |async ) ? {'padding-left': '80px'}: {'':''}">
  <div class="inner__o">

    <!-- breadcrumb -->
    <div class="breadcrumb-d">
      <div class="ind_box">
        <i [class]="'fal '+ (lservice?.bread|async)?.icon" [style]="{'color':(lservice?.getbColor()|async)}"></i>
      </div>
      <div class="current_path">
        <span class="def" [style]="{'color':(lservice?.getbColor()|async)}">{{'Dashboard'}}</span>
        <span class="sep"><i class="fal fa-chevron-right" [style]="{'color':(lservice?.getbColor()|async)}"></i></span>
        <span class="curr" [style]="{'color':(lservice?.getbColor()|async)}">{{(lservice?.bread|async)?.path}}</span>
      </div>
    </div>

    <!-- Routes container -->
    <div [@outletAnimation]="preparedRoute(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

  </div>
</div>


<!-- chats box -->
<div class="_chatbox">
  <div class="card" [style]="{'border-color': (lservice?.getbColor()|async)}">
    <div class="card-header p-1" [style]="{'background-color':(lservice?.getbColor()|async)}">
      <div class="bar">
        <span>{{'Chat Box'}}</span>
      </div>
      <div class="actions">
        <button class="btn" (click)="lservice?.reduceBox()"><i [class]="'fal '+ lservice?.icon"></i></button>&nbsp;
        <button class="btn" (click)="lservice?.ccBox()"><i class="fal fa-times-circle"></i></button>
      </div>
    </div>
    <div class="card-body p-1">
      <div class="msg_container_base">
        <perfect-scrollbar style="width: 100%;  height: 255px; padding-right: 3px;" #perfectScroll>
          <div class="msg_container"
            *ngFor="let item of (lservice?.getMessage()|async)">
            <div *ngIf="item?.track === 'sent'" class="row base_sent">
              <div class="col-md-10 col-xs-10 p-1">
                <div class="messages msg_sent">
                  <p>{{item?.message}}</p>
                  <time datetime="2009-11-13T20:00">{{item?.time}}</time>
                </div>
              </div>
              <div class="col-md-2 col-xs-2 avatar p-1 text-center">
                <img [src]="item?.img">
              </div>
            </div>

            <div *ngIf="item?.track === 'received'" class="row base_receive">
              <div class="col-md-2 col-xs-2 avatar p-0 text-center">
                <img [src]="item?.img"
                >
              </div>
              <div class="col-md-10 col-xs-10 p-0">
                <div class="messages msg_receive">
                  <p>{{item?.message}}</p>
                  <time datetime="2009-11-13T20:00">{{item?.time}}</time>
                </div>
              </div>
            </div>
          </div>
      </perfect-scrollbar>
      </div>

    </div>
    <div class="card-footer p-1" [style]="{'border-color': (lservice?.getbColor()|async)}">
      <div class="emoji">
        <button class="btn">
          <i class="fal fa-smile" [style]="{'color':(lservice?.getbColor()|async)}"></i></button>&nbsp;
        <button class="btn">
          <i class="fal fa-paperclip" [style]="{'color':(lservice?.getbColor()|async)}"></i></button>
      </div>
      <form [formGroup]="mForm" (ngSubmit)="send()">
        <div class="form">
          <input type="text" formControlName ="message">
          <i class="fal fa-paper-plane" [style]="{'color':(lservice?.getbColor()|async)}"></i>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- color picket -->
<div class="_settingbox">
  <div class="card">
    <div class="card-body">
      <div class="hdr_">
        {{'SideBar Background color'}}
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let item of (lservice?.colors)">
          <div class="i-holder my-2" [style]="{'background-color': item}" [title]="item">
            <a (click)="lservice?.setColor(item)"></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="i-holder my-2 cle" (click)="lservice?.cBoxc()" title="Close">
            <i class="fal fa-times"></i>
          </div>
        </div>
      </div>
      <div class="hdr_">
        {{'NavBar Background color'}}
      </div>
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div>
  </div>
</div>


<!-- auth modal -->
<div class="modal fade connex_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="_container">
        <div class="_stick" [style]="{'background-color':(lservice?.getbColor()|async)}"
          [@x-x0]="state === false ? 'left': 'right'">
          <img src="../../assets/img/lightbulb.png" alt="">
        </div>
        <div class="_viewf" [@x-y0]="state === false ? 'right': 'left'">
          <app-auth (state)="getStmt($event)"></app-auth>
        </div>
      </div>
    </div>
  </div>
</div>
