.__main_outlet {
  flex: 1;
  flex-direction: column;
  display: flex;
  z-index: 8;
  padding: 60px 0 0 280px;
  transition: all .2s;
}

.inner__o {
  padding: 15px 15px 20px;
  flex: 1;

  .breadcrumb-d {
    margin-bottom: 1rem;
    width: 20%;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    .ind_box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: none;
      background-color: #fff;
      border-radius: .25rem;
      box-shadow: 0px .7px 0.16875rem 0.1rem rgba(0, 0, 0, 0.1);
      i {
        color: #46957b;
      }
    }
    .current_path {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .def {
        font-weight: 800;
        color: #46957b;
        font-size: 24px;
      }

      .sep {
        margin-left: 10px;
        margin-right: 10px;
        color: #46957b;
      }

      .curr {
        font-weight: 800;
        color: #46957b;
        font-size: 20px;
      }
    }
  }
}



._chatbox {
  z-index: 20;
  position: fixed;
  width: 280px;
  bottom: 1%;
  right: 1%;
  height: 350px;
    .card {
      height: 100%;
      border:  2px solid #46957b;
      .card-header {
        background-color: #46957b;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: none!important;
        box-shadow: 0px 6px 11px -7px rgba(0,0,0,0.2);
        .btn {
          padding: 0%;
          color: #fff;
          outline: none;
          box-shadow: none!important;
        }
      }

      .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-top:2px solid #46957b!important;

        .form {
          width: 90%;
          position: relative;
          input {
            // width: 80%;
            background-color: transparent;
            border: none!important;
            outline: none;
            padding-right: 1.5rem;
            color: rgb(126, 122, 122);
            line-height: 1rem;
          }

          i {
              position: absolute;
              color: #46957b;
              right: 2%;
              top: 20%;
          }
        }

        .emoji {
          width: 20%;
          display: flex;
          .btn {
            padding: 0%;
            i {
              color: #46957b;
            }
          }
        }
      }
    }
}


._settingbox {
  z-index: 20;
  position: fixed;
  width: 280px;
}
