<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="__main_outlet" [ngStyle]="(lservice?.getState()|async ) ? {'padding-left': '80px'}: {'':''}">
  <div class="inner__o">

    <!-- breadcrumb -->
    <div class="breadcrumb-d">
      <div class="ind_box">
            <i [class]="'fal '+ bread?.icon" [style]="{'color':(lservice?.getColor()|async)}"></i>
      </div>
      <div class="current_path">
          <span class="def" [style]="{'color':(lservice?.getColor()|async)}">{{'Dashboard'}}</span>
          <span class="sep"><i class="fal fa-chevron-right" [style]="{'color':(lservice?.getColor()|async)}"></i></span>
          <span class="curr" [style]="{'color':(lservice?.getColor()|async)}">{{bread?.path}}</span>
      </div>
    </div>

    <!-- Routes container -->
    <div [@outletAnimation]="preparedRoute(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

  </div>
</div>


<div class="_chatbox">
  <div class="card" [style]="{'border-color': (lservice?.getColor()|async)}">
      <div class="card-header p-1" [style]="{'background-color':(lservice?.getColor()|async)}">
          <div class="bar">
            <span>{{'Chat Box'}}</span>
          </div>
          <div class="actions">
              <button class="btn" (click)="lservice?.reduceBox()"><i [class]="'fal '+ lservice?.icon"></i></button>&nbsp;
              <button class="btn" (click)="lservice?.ccBox()"><i class="fal fa-times-circle"></i></button>
          </div>
      </div>
      <div class="card-body p-1"></div>
      <div class="card-footer p-1" [style]="{'border-color': (lservice?.getColor()|async)}">
        <div class="emoji">
            <button class="btn"><i class="fal fa-smile" [style]="{'color':(lservice?.getColor()|async)}"></i></button>&nbsp;
            <button class="btn"><i class="fal fa-paperclip" [style]="{'color':(lservice?.getColor()|async)}"></i></button>
        </div>
        <div class="form">
            <input type="text">
            <i class="fal fa-paper-plane" [style]="{'color':(lservice?.getColor()|async)}"></i>
        </div>
      </div>
  </div>
</div>

<div class="_settingbox">
    <div class="card">
        <div class="card-body">
            <div class="hdr_">
              {{'SideBar Background color'}}
            </div>
            <div class="row">
                <div class="col-md-3" *ngFor="let item of colors">
                        <div class="i-holder my-2" [style]="{'background-color': item?.value}" [title]="item?.value">
                            <a (click)="lservice?.setColor(item?.value)"></a>
                        </div>
                </div>
                <div class="col-md-3" >
                  <div class="i-holder my-2 cle" (click)="lservice?.cBoxc()" title="Close">
                      <i class="fal fa-times"></i>
                  </div>
                </div>
            </div>
            <div class="hdr_">
              {{'NavBar Background color'}}
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>
