<app-header (side)="getSide($event)"></app-header>
<app-sidebar [side]="sideState"></app-sidebar>

<div class="__main_outlet" [ngStyle]="sideState === true ? {'padding-left': '80px'}: {'':''}">
  <div class="inner__o">
    <div class="breadcrumb-d">
      <div class="ind_box">
            <i [class]="'fal '+ bread?.icon "></i>
      </div>
      <div class="current_path">
          <span class="def">{{'Dashboard'}}</span>
          <span class="sep"><i class="fas fa-chevron-right"></i></span>
          <span class="curr">{{bread?.path}}</span>
      </div>
    </div>
    <div [@outletAnimation]="preparedRoute(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

  </div>
</div>
