.side-bar {
  display: flex;
  z-index: 200;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  transition: all .3s ease;
  background-color: #2c646f;

  ._header {

    .logo {
      display: block;
      font-size: 1.25rem;
      line-height: 1.5;
      padding: .9125rem .5rem;
      transition: width .3s ease-in-out;
      white-space: nowrap;
      border-bottom: 1px solid #fff;
      color: #fff;

      i {
        margin-left: 1.5rem;
      }
    }
  }
}
