.side-bar {
  display: flex;
  z-index: 200;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  transition: all 0.3s ease;
  background-color: #008080;

  ._header {
    .logo {
      display: block;
      font-size: 1.25rem;
      line-height: 1.5;
      padding: 0.9125rem 0.5rem;
      transition: width 0.3s ease-in-out;
      white-space: nowrap;
      border-bottom: 1px solid #e8e1e1;
      color: #fff;

      i {
        margin-left: 1.5rem;
      }
    }

    .user {
      img {
        margin-top: .6rem;
        margin-left: 1.4rem;
        height: 2.1rem;
        width: 2.1rem;
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
        border-radius: 50%;
        vertical-align: middle;
      }
    }

    hr {
      margin: 10px;
      background-color: #e8e1e1;
    }
  }

  ._body {
    padding-top: 1.5rem;
    .menus {
      ul {
        list-style: none;
        margin-left: -.7rem;
        li  {

            a {
              display: block;
                padding-top: 1rem;
                padding-bottom: 1rem;
                i {
                    color: #fff;
                }

                span {
                  font-size: 13px;
                  font-weight: 500;
                  color: #fff;
                  margin-left: 15px;
                }
            }
        }
      }
    }
  }
}
