<div class="side-bar"
  [ngStyle]="side === true ? {'width':'80px', 'transition':'all .2s ease-in-out'}:{'width':'280px','transition':'all .2s ease-in-out'}">

  <div class="_header">
      <a class="logo">
         <i class="fal fa-lightbulb"></i>
      </a>

      <a class="user">
          <img src="../../../assets/img/AF2.png" alt="">
      </a>

      <hr>
  </div>

  <div class="_body">
     <div class="menus">
          <ul>
            <li>
              <a ><i class="fal fa-th"></i> <span>{{'Widgets'}}</span></a>
            </li>
            <li>
              <a ><i class="fal fa-clone"></i></a>
            </li>
            <li>
              <a ><i class="fal fa-chart-pie"></i></a>
            </li>
            <li>
              <a ><i class="fal fa-edit"></i></a>
            </li>
            <li>
              <a ><i class="fal fa-table"></i></a>
            </li>
            <li>
              <a ><i class="fal fa-calendar"></i></a>
            </li>
            <li>
              <a ><i class="fal fa-book"></i></a>
            </li>
          </ul>
     </div>
  </div>

</div>
