<div class="side-bar"
  [ngStyle]="side === true ? {'width':'80px', 'transition':'all .2s ease-in-out'}:{'width':'280px','transition':'all .2s ease-in-out'}">

  <div class="_header">
      <a class="logo">
         <i class="fal fa-lightbulb"></i>
      </a>
      <a class="user">
          <img src="../../../assets/img/AF2.png" alt="">
      </a>
      <hr>
  </div>

  <div class="_body">
     <div class="menus">
          <ul [ngClass]="{'wrap-menu': side === true}">
            <li>
              <a class="side_nav active"><i class="fal fa-th"></i> <span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Widgets'}}</span></a>
            </li>
            <li>
              <a class="side_nav"><i class="fal fa-clone"></i> <span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Layouts'}}</span></a>
            </li>
            <li>
              <a class="side_nav"><i class="fal fa-chart-pie"></i> <span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Charts'}}</span></a>
            </li>
            <li>
              <a class="side_nav"><i class="fal fa-edit"></i> <span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Forms'}}</span></a>
            </li>
            <li>
              <a ><i class="fal fa-tree"></i> <span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'UI Elements'}}</span></a>
            </li>
            <li>
              <a ><i class="fal fa-table"></i> <span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Tables'}}</span></a>
            </li>
            <li>
              <a ><i class="fal fa-calendar"></i><span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Calendar'}}</span></a>
            </li>
            <li>
              <a ><i class="fal fa-book"></i><span [ngStyle]="side === true ?{'display':'none'}:{}" >{{'Library'}}</span></a>
            </li>
          </ul>
     </div>
  </div>

</div>
