<div class="side-bar"
  [ngStyle]=" (lservice?.getState() |async ) === true ? {'width':'80px', 'transition':'all .2s ease-in-out'}:{'width':'280px','transition':'all .2s ease-in-out'}"
  [style]="{'background-color': bgcolor}"
  >

  <div class="_header">
      <a class="logo">
         <i class="fal fa-lightbulb"></i>
      </a>
      <a class="user">
          <img src="../../../assets/img/AF2.png" alt="">
      </a>
      <hr>
  </div>

  <div class="_body">
     <div class="menus">
          <ul [ngClass]="{'wrap-menu': (lservice?.getState() | async) === true}">
            <li>
              <a class="side_nav" routerLink="/dashboard/widgets" routerLinkActive="active"><i class="fal fa-cube"></i> <span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Widgets'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/layouts" routerLinkActive="active"><i class="fal fa-clone"></i> <span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Layouts'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/charts" routerLinkActive="active"><i class="fal fa-chart-pie"></i> <span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Charts'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/forms" routerLinkActive="active"><i class="fal fa-edit"></i> <span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Forms'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/composants" routerLinkActive="active"><i class="fal fa-tree"></i> <span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'UI Elements'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/tables" routerLinkActive="active" ><i class="fal fa-table"></i> <span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Tables'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/scheduler" routerLinkActive="active"><i class="fal fa-calendar"></i><span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Calendar'}}</span></a>
            </li>
            <li>
              <a class="side_nav" routerLink="/dashboard/booker" routerLinkActive="active"><i class="fal fa-book"></i><span [ngStyle]="(lservice?.getState()|async) === true ?{'display':'none'}:{}" >{{'Library'}}</span></a>
            </li>
          </ul>
     </div>
  </div>

</div>
